<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.kwaiallin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <meta-data
            android:name="kwai_app_id"
            android:value="${KWAI_APP_ID}" />
        <meta-data
            android:name="kwai_app_name"
            android:value="${KWAI_APP_NAME}" />

        <!--        <meta-data-->
        <!--            android:name="kwai_allow_tourist"-->
        <!--            android:value="false" />-->
        <!--        <meta-data-->
        <!--            android:name="kwai_disable_float_switch"-->
        <!--            android:value="false" />-->
        <!--        <meta-data-->
        <!--            android:name="kwai_custom_privacy"-->
        <!--            android:value="false" />-->

    </application>
    <queries>
        <package android:name="com.smile.gifmaker" />
        <package android:name="com.kuaishou.nebula" />
        <package android:name="com.kuaishou.lite" />
    </queries>
</manifest>