<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.sdk.kwaimonitor">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- MAC / 用户标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 网络类型 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- IMEI，API>=23 需动态申请 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
