/**
* css 全局变量
*/
:root {
  --rx-gradient-primary: linear-gradient(to right, #66b5f6, #3b65fa); // 主渐变色 左到右
  --rx-gradient-secondary: linear-gradient(to right, #488bfa, #78edbd); // 次渐变色 左到右
  --gradient-red: red;
  --gradient-blue: blue;

  /**
  * 主题色
  */
  --rx-color-primary: #3e6afa; // 主选中色
  --rx-color-secondary: #fec157; // 次选中色
  --rx-color-danger: #ff2a58; // 主报错色

  /**
  * 字体色
  */
  --rx-text-primary: #203860; // 主文字色

  /**
  * 卡片色
  */
  --rx-card-gradient-primary: linear-gradient(to bottom, #e3ecfe, #ffffff); // 卡片上到下线性渐变
  --rx-card-shadow: 0 4px 10px 0 #dfe0ff; // 卡片阴影

  /**
  * tabbar 相关
  */
  --van-tabbar-item-active-color: var(--rx-color-primary) !important; // tab激活态文字颜色
}
