/.idea/
.project*
.svn
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.stignore
.stfolder
.vscode
.history
*.swp
tags
go.work
go.work.sum
nacos*.yaml
AGENTS.md
log
tmp/


# ignore with prefix of file name
_*

# apollo config or cache file
.*_default
_bin
_*
docs/swagger.json
openspec/
cmd/admin/cache
# .cursor/
.cursorignore
example/.ignore
nacos*.yaml
example/mcp_client/
.ignore/
cmd/debug
admin
api
rxsdk-mcp-server/my-mcp-server
rxsdk-mcp-server/rxsdk-mcp-server
ruixue-sdk-mcp/go-bin/