<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.xingyi">
    <application>
        <meta-data
            android:name="RX_PLUGIN_PAY_XINGYI"
            android:value="com.ruixue.sdk.XingYiSdkWrapper" />
    </application>
</manifest>
