<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.sdk.huawei">
    <application>
        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />
        <meta-data
            android:name="install_channel"
            android:value="AppGallery">
        </meta-data>
    </application>
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>
</manifest>