<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- VGamePop 渠道不依赖 Facebook SDK，移除合并进来的 FacebookContentProvider 避免 ClassNotFoundException -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider.placeholder"
            tools:node="remove" />
    </application>
</manifest>
