<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.sdk.zalo">

    <application>
        <meta-data
            android:name="RX_PLUGIN_ZALO"
            android:value="com.ruixue.sdk.zalo.ZaloSdkWrapper" />
    </application>

    <queries>
        <package android:name="com.zing.zalo" />
    </queries>

</manifest>
