<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.sdk.line">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="RX_PLUGIN_LINE"
            android:value="com.ruixue.sdk.line.LineSdkWrapper" />
    </application>

    <queries>

    </queries>
</manifest>
