<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.sdk.twitter">


    <application>
        <meta-data
            android:name="RX_PLUGIN_twitter"
            android:value="com.ruixue.sdk.twitter.TwitterSdkWrapper" />
    </application>

    <queries>

    </queries>
</manifest>
