<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.sdk.tiktok">


    <application>
        <meta-data
            android:name="RX_PLUGIN_TIKTOK"
            android:value="com.ruixue.sdk.tiktok.TiktokSdkWrapper" />

        <activity
            android:name="com.ruixue.sdk.tiktok.ShareResultActivity"
            android:exported="true" />
    </application>

    <queries>
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
    </queries>
</manifest>
