<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.sdk">

   <application>

<!--       <activity-->
<!--           android:name="com.alipay.sdk.app.AlipayResultActivity"-->
<!--           android:exported="true"-->
<!--           android:launchMode="singleTask"-->
<!--           android:theme="@android:style/Theme.Translucent.NoTitleBar">-->
<!--           <intent-filter>-->
<!--               <action android:name="android.intent.action.VIEW" />-->

<!--               <category android:name="android.intent.category.DEFAULT" />-->
<!--               <category android:name="android.intent.category.BROWSABLE" />-->

<!--               <data android:scheme="cj_pay_alipay_sign" />-->
<!--           </intent-filter>-->
<!--       </activity>-->

<!--       <activity-->
<!--           android:name="com.alipay.sdk.app.PayResultActivity"-->
<!--           android:configChanges="keyboardHidden|navigation|orientation"-->
<!--           android:exported="true"-->
<!--           android:launchMode="singleInstance"-->
<!--           android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

   </application>
</manifest>