<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.hq" >

    <application>
        <meta-data
            android:name="RX_PLUGIN_HQ"
            android:value="com.ruixue.hq.HQSdkWrapper" />
    </application>
</manifest>