<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.m9game">

    <application
        tools:replace="android:allowBackup" android:allowBackup="true">
        <!-- ProxyActivity / ThemeProxyActivity 已由 net-sdk 自带 Manifest 声明，勿再覆盖 exported -->
    </application>

    <queries>
        <package android:name="cn.ninegame.gamemanager" />
    </queries>
</manifest>
