<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.oppo">
    <application>

        <!--替换app_key的值-->
        <meta-data android:name="app_key" android:value="${OPPO_APP_KEY}" />

        <meta-data android:name="android.max_aspect"  android:value="2.4" />
        <meta-data android:name="debug_mode" android:value="false" />    <!-- 日志开关，发布时候设置为false -->
        <meta-data android:name="is_offline_game" android:value="false" />  <!-- true:单机游戏   false:网游 -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>
</manifest>