<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ruixue</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ruixue</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>snapchat</string>
		<string>bitmoji-sdk</string>
		<string>itms-apps</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SCSDKClientId</key>
	<string>817a23af-8d9c-4707-bb2c-1965d15e37fa</string>
	<key>SCSDKRedirectUrl</key>
	<string>ruixue://com.ruixue.sdkdemo/oauth2</string>
	<key>SCSDKScopes</key>
	<array>
		<string>https://auth.snapchat.com/oauth2/api/user.bitmoji.avatar</string>
		<string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
		<string>https://auth.snapchat.com/oauth2/api/user.external_id</string>
	</array>
</dict>
</plist>
