<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdk.google.admob">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:usesCleartextTraffic="true">

<!--        通过添加下面显示的名称为 com.google.android.gms.ads.APPLICATION_ID 的 <meta-data> 标记，即可将您的 AdMob 应用 ID 添加到您的应用的 AndroidManifest.xml 文件中。-->
<!--        您可以在 AdMob 界面中找到您的应用 ID。对于 android:value，请插入 AdMob 应用 ID 并加上引号，如下所示。-->
        <!--  AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>
