<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.plugin.unifypay">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application>
        <meta-data
            android:name="RX_PLUGIN_PAY_UNIFYPAY"
            android:value="com.ruixue.plugin.unifypay.UPPaySdkWrapper" />

        <meta-data
            android:name="CurrentEnvironment"
            android:value="PROD" /> <!-- PROD or TEST -->

        <meta-data
            android:name="PPPaySDK"
            android:value="true" />
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustResize" />

    </application>
    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.eg.android.AlipayGphoneRC" />
        <package android:name="hk.alipay.wallet" />
        <!--   Android 11 微信分享无法拉起问题     -->
        <package android:name="com.tencent.mm" />
        <package android:name="com.unionpay" />`
    </queries>
</manifest>