<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6-32位，数字+字母+特殊字符</key>
	<string>6-32 karakter, angka+huruf+karakter khusus</string>
	<key>Apple</key>
	<string>Apple</string>
	<key>Facebook</key>
	<string>Facebook</string>
	<key>Line</key>
	<string>Line</string>
	<key>e-mail</key>
	<string>Email</string>
	<key>iap异常</key>
	<string>iap error</string>
	<key>一键领取</key>
	<string>Menerima Semua</string>
	<key>三方初始化错误，或未初始化</key>
	<string>Kesalahan parameter pihak ketiga, atau belum diinisialisasi</string>
	<key>三方登录错误</key>
	<string>Kesalahan login pihak ketiga</string>
	<key>下一步</key>
	<string>Lanjut</string>
	<key>两次密码输入不一致，请重新输入</key>
	<string>Kata sandi tidak sama, harap masukkan ulang</string>
	<key>公告板</key>
	<string>Papan Pengumuman</string>
	<key>关闭</key>
	<string>Tutup</string>
	<key>关闭窗口</key>
	<string>Tutup Jendela</string>
	<key>切换账号</key>
	<string>Ganti Akun</string>
	<key>初始化参数错误</key>
	<string>Kesalahan parameter awal</string>
	<key>初始化错误，还未初始化成功</key>
	<string>Kesalahan parameter awal</string>
	<key>删除失败</key>
	<string>Penghapusan gagal</string>
	<key>删除成功</key>
	<string>Penghapusan berhasil</string>
	<key>删除邮件</key>
	<string>Hapus</string>
	<key>加载失败</key>
	<string>Muat gagal</string>
	<key>反馈内容</key>
	<string>Isi Masukan</string>
	<key>参数错误</key>
	<string>parameter pembayaran</string>
	<key>取消</key>
	<string>Batal</string>
	<key>同意协议并开始</key>
	<string>Setujui persyaratan dan mulai</string>
	<key>同意条款并开始</key>
	<string>Setuju&amp;Mulai</string>
	<key>回复内容:</key>
	<string>Balasan:</string>
	<key>地区选择</key>
	<string>Pilih Wilayah</string>
	<key>天</key>
	<string>Hari</string>
	<key>天到期</key>
	<string>hari</string>
	<key>定位失败</key>
	<string>Gagal mendapatkan lokasi</string>
	<key>实名认证</key>
	<string>Verifikasi Nama Asli</string>
	<key>实名认证成功</key>
	<string>Verifikasi Nama Asli Berhasil</string>
	<key>密码不能为空</key>
	<string>Kata sandi tidak boleh kosong</string>
	<key>密码正则验证错误</key>
	<string>Kesalahan verifikasi pola kata sandi</string>
	<key>密码输入6-32位，包含数字+字母+特殊符号</key>
	<string>6-32 karakter, angka+huruf+karakter khusus</string>
	<key>密码重置成功</key>
	<string>Kata sandi berhasil diatur ulang</string>
	<key>尊敬的玩家，该账号已提交了注销申请，请您不要登录和使用该账号，以确保注销操作的顺利完成，如需撤销注销申请，请点击下方按钮进行撤销操作。</key>
	<string>Pemain yang terhormat, akun ini telah mengajukan   permohonan pendaftaran, mohon jangan login dan gunakan akun ini untuk memastikan   kelancaran proses pendaftaran. Jika ingin mencabut permohonan pendaftaran, harap klik tombol di bawah untuk mencabut permohonan.</string>
	<key>已发送验证码</key>
	<string>Kode verifikasi telah dikirim</string>
	<key>已处理</key>
	<string>Ditangani</string>
	<key>已提交注销申请</key>
	<string>Permohonan Pendaftaran Dalam Proses</string>
	<key>开始游戏</key>
	<string>Mulai Game</string>
	<key>待回复</key>
	<string>Menunggu</string>
	<key>忘记密码</key>
	<string>Lupa kata sandi</string>
	<key>您的网络好像出了问题，请试试切换网络</key>
	<string>Jaringan kamu sepertinya bermasalah, coba ubah jaringan kamu</string>
	<key>我的反馈</key>
	<string>Masukan Saya</string>
	<key>我要反馈</key>
	<string>Kirim Masukan</string>
	<key>手机号</key>
	<string>Telepon</string>
	<key>手机号格式错误，请重新输入</key>
	<string>Format nomor ponsel salah, harap masukkan kembali</string>
	<key>提交</key>
	<string>Kirim</string>
	<key>提交失败</key>
	<string>Pengiriman gagal</string>
	<key>提交成功</key>
	<string>Pengiriman berhasil</string>
	<key>提示</key>
	<string>Peringatan</string>
	<key>撤销注销</key>
	<string>Cabut Pendaftaran</string>
	<key>支付参数错误</key>
	<string>Kesalahan parameter pembayaran</string>
	<key>支付取消</key>
	<string>Pembayaran dibatalkan</string>
	<key>更多登录方式</key>
	<string>Lebih banyak metode login</string>
	<key>更多登录方式 &gt;</key>
	<string>Lebih banyak metode login &gt;</string>
	<key>未安装应用</key>
	<string>Aplikasi belum terinstal</string>
	<key>未知三方错误码</key>
	<string>Kode kesalahan pihak ketiga tidak diketahui</string>
	<key>未知错误</key>
	<string>Kesalahan tidak diketahui</string>
	<key>权限被拒绝或未开启</key>
	<string>Izin ditolak atau tidak diaktifkan</string>
	<key>根据国家最新法规规定，未实名认证的用户不能体验任何游戏内容，请尽快完成实名认证。</key>
	<string>Berdasarkan peraturan terbaru negara, pengguna yang belum melakukan verifikasi nama asli tidak dapat mengakses konten game apa pun, harap segera lakukan verifikasi nama asli </string>
	<key>永久有效</key>
	<string>Selamanya valid</string>
	<key>没有商品</key>
	<string>Kosong</string>
	<key>注册</key>
	<string>Daftar sekarang</string>
	<key>注册账号</key>
	<string>Daftar Akun</string>
	<key>添加附件:</key>
	<string>Tambahkan lampiran:</string>
	<key>游客</key>
	<string>Tamu</string>
	<key>游客账号</key>
	<string>Tamu</string>
	<key>游戏条款</key>
	<string>Persyaratan Game</string>
	<key>用户信息已更新</key>
	<string>Informasi pengguna diperbarui</string>
	<key>用户信息更新失败，请重新操作</key>
	<string>Gagal diperbarui, silakan coba lagi</string>
	<key>登录</key>
	<string>Login</string>
	<key>登录参数错误</key>
	<string>Kesalahan parameter login</string>
	<key>登录取消</key>
	<string>Login dibatalkan</string>
	<key>登录失效，请重新登录</key>
	<string>Login gagal，harap login ulang</string>
	<key>确定</key>
	<string>Ya</string>
	<key>确定删除该账号？</key>
	<string>Yakin ingin menghapus akun ini?</string>
	<key>确认</key>
	<string>Konfirmasi</string>
	<key>确认提交</key>
	<string>Konfirmasi Kirim</string>
	<key>立即注册</key>
	<string>Daftar sekarang</string>
	<key>继续登录</key>
	<string>Lanjut Login</string>
	<key>维护公告</key>
	<string>Pengumuman Pemeliharaan</string>
	<key>网络请求失败，请重试或检查网络设置</key>
	<string>Jaringan kamu sepertinya bermasalah, coba ubah jaringan kamu</string>
	<key>联系电话:</key>
	<string>Nomor telepon:</string>
	<key>苹果支付异常</key>
	<string>Kesalahan pembayaran Apple</string>
	<key>获取验证码</key>
	<string>Kode Diperoleh</string>
	<key>补单失败</key>
	<string>Pembelian lanjutan gagal</string>
	<key>视频文件导出失败</key>
	<string>Ekspor video gagal</string>
	<key>设置密码</key>
	<string>Atur ulang kata sandi</string>
	<key>请全部同意并开始游戏</key>
	<string>Harap setujui dan mulai bermain</string>
	<key>请再次输入密码</key>
	<string>Masukkan ulang kata sandi</string>
	<key>请输入密码</key>
	<string>Masukkan   kata sandi</string>
	<key>请输入您的密码</key>
	<string>Masukkan kata sandi kamu</string>
	<key>请输入您的意见反馈</key>
	<string>Masukkan masukan Anda</string>
	<key>请输入您的手机号</key>
	<string>Masukkan nomor ponsel</string>
	<key>请输入您的手机号方便联系您</key>
	<string>Masukkan telepon Anda</string>
	<key>请输入您的邮箱</key>
	<string>Masukkan akun email kamu</string>
	<key>请输入您的邮箱账号</key>
	<string>Masukkan akun email kamu</string>
	<key>请输入您的验证码</key>
	<string>Masukkan kode verifikasi</string>
	<key>请输入真实姓名</key>
	<string>Masukkan Nama Asli Kamu</string>
	<key>请输入身份证号</key>
	<string>Masukkan Nomor Identitas Kamu</string>
	<key>请输入邮箱验证码</key>
	<string>kode verifikasi</string>
	<key>超过一周的邮件自动删除</key>
	<string>Surat elektronik yang melebihi satu minggu akan dihapus secara otomatis</string>
	<key>输入密码与原密码不一致</key>
	<string>Kata sandi yang dimasukkan tidak sama dengan kata   sandi awal</string>
	<key>输入要搜索的地区</key>
	<string>Masukkan wilayah yang ingin kamu cari</string>
	<key>返回游戏</key>
	<string>Kembali ke game</string>
	<key>还有</key>
	<string>Kadaluarsa dalam</string>
	<key>还没有账号？</key>
	<string>Belum punya akun?</string>
	<key>退出登录</key>
	<string>Keluar</string>
	<key>邮件</key>
	<string>Surat elektronik</string>
	<key>邮箱</key>
	<string>Email</string>
	<key>邮箱格式错误，请重新输入</key>
	<string>Format email salah</string>
	<key>邮箱账号注册成功</key>
	<string>Registrasi akun email berhasil</string>
	<key>重复下单</key>
	<string>Pesan ulang</string>
	<key>重新获取</key>
	<string>Dapatkan ulang</string>
	<key>重置密码</key>
	<string>Atur ulang kata sandi</string>
	<key>附件:</key>
	<string>Lampiran:</string>
	<key>隐私协议拒绝</key>
	<string>Menolak Kebijakan Privasi</string>
	<key>领取失败</key>
	<string>Pengambilan gagal</string>
	<key>领取奖励</key>
	<string>Ambil Hadiah</string>
	<key>领取成功</key>
	<string>Penerimaan berhasil</string>
	<key>领取道具</key>
	<string>Menerima</string>
	<key>验证码登录</key>
	<string>Login Kode Verifikasi</string>
	<key>密码登录</key>
	<string>Login Kata Sandi</string>
</dict>
</plist>
