<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6-32位，数字+字母+特殊字符</key>
	<string>أرقام ، أرقام + حروف + أحرف خاصة ( أدخل </string>
	<key>Apple</key>
	<string>Apple</string>
	<key>Facebook</key>
	<string>Facebook</string>
	<key>Line</key>
	<string>Line</string>
	<key>e-mail</key>
	<string>الإلكتروني</string>
	<key>iap异常</key>
	<string>خطأ في الدفع على نظام iap</string>
	<key>一键领取</key>
	<string>استلام الكل</string>
	<key>三方初始化错误，或未初始化</key>
	<string>خطأ في تهيئة الطرف الثالث، أو لم تتم التهيئة</string>
	<key>三方登录错误</key>
	<string>خطأ في تسجيل الدخول لجهة خارجية</string>
	<key>下一步</key>
	<string>يكمل</string>
	<key>两次密码输入不一致，请重新输入</key>
	<string>كلمات المرور غير متناسقة، يرجى إدخالها مرة أخرى</string>
	<key>公告板</key>
	<string>لوحة الإعلانات</string>
	<key>关闭</key>
	<string>إغلاق</string>
	<key>关闭窗口</key>
	<string>أغلق النافذة</string>
	<key>切换账号</key>
	<string>تبديل الحساب</string>
	<key>初始化参数错误</key>
	<string>خطأ في معلمة التهيئة</string>
	<key>初始化错误，还未初始化成功</key>
	<string>خطأ في معلمة التهيئة</string>
	<key>删除失败</key>
	<string>فشل الحذف</string>
	<key>删除成功</key>
	<string>الحذف ناجح</string>
	<key>删除邮件</key>
	<string>حذف</string>
	<key>加载失败</key>
	<string> فشل التحميل</string>
	<key>反馈内容</key>
	<string>محتوى الملاحظات</string>
	<key>参数错误</key>
	<string>خطأ في معلمة الدفع</string>
	<key>取消</key>
	<string>يلغي</string>
	<key>同意协议并开始</key>
	<string>اقبل الكل وابدأ اللعب</string>
	<key>同意条款并开始</key>
	<string>اتفق وابدأ</string>
	<key>回复内容:</key>
	<string>رد:</string>
	<key>地区选择</key>
	<string>اختر المنطقة</string>
	<key>天</key>
	<string>يوم</string>
	<key>天到期</key>
	<string>ينتهي في</string>
	<key>定位失败</key>
	<string>فشل في تحديد موقع</string>
	<key>实名认证</key>
	<string>التحقق من الهوية</string>
	<key>实名认证成功</key>
	<string>منتهي!</string>
	<key>密码不能为空</key>
	<string>لا يمكن أن تكون كلمة المرور فارغة</string>
	<key>密码正则验证错误</key>
	<string>خطأ عادي في التحقق من صحة كلمة المرور</string>
	<key>密码输入6-32位，包含数字+字母+特殊符号</key>
	<string>أرقام ، أرقام + حروف + أحرف خاصة ( أدخل </string>
	<key>密码重置成功</key>
	<string>حسناً!</string>
	<key>尊敬的玩家，该账号已提交了注销申请，请您不要登录和使用该账号，以确保注销操作的顺利完成，如需撤销注销申请，请点击下方按钮进行撤销操作。</key>
	<string>عزيزي اللاعب، لقد تقدم هذا الحساب بطلب للحذف. يرجى عدم تسجيل الدخول أو استخدام هذا الحساب لضمان إتمام العملية. إذا كنت تريد إلغاء الحذف، انقر فوق الزر أدناه.</string>
	<key>已发送验证码</key>
	<string>تم إرسال الرمز</string>
	<key>已处理</key>
	<string>تم التعامل</string>
	<key>已提交注销申请</key>
	<string>تم تقديم طلب الحذف</string>
	<key>开始游戏</key>
	<string>يلعب</string>
	<key>待回复</key>
	<string>بانتظار الرد</string>
	<key>忘记密码</key>
	<string>نسيت</string>
	<key>您的网络好像出了问题，请试试切换网络</key>
	<string>هناك خطأ في الإنترنت لديك، يرجى تجربة اتصال آخر</string>
	<key>我的反馈</key>
	<string>ملاحظاتي</string>
	<key>我要反馈</key>
	<string>أرسل ملاحظاتك</string>
	<key>手机号</key>
	<string>هاتف</string>
	<key>手机号格式错误，请重新输入</key>
	<string>تنسيق رقم الهاتف غير صحيح، يرجى إدخاله مرة أخرى</string>
	<key>提交</key>
	<string>إرسال</string>
	<key>提交失败</key>
	<string>فشل الإرسال</string>
	<key>提交成功</key>
	<string>تم الإرسال بنجاح</string>
	<key>提示</key>
	<string>نصائح</string>
	<key>撤销注销</key>
	<string>الغ الحذف</string>
	<key>支付参数错误</key>
	<string>خطأ في معلمة الدفع</string>
	<key>支付取消</key>
	<string>تم إلغاء الدفع</string>
	<key>更多登录方式</key>
	<string>طريقة الدخول</string>
	<key>更多登录方式 &gt;</key>
	<string>طريقة الدخول &gt;  </string>
	<key>未安装应用</key>
	<string>التطبيق غير مثبت</string>
	<key>未知三方错误码</key>
	<string>رمز خطأ غير معروف لجهة خارجية</string>
	<key>未知错误</key>
	<string>خطأ غير معروف</string>
	<key>根据国家最新法规规定，未实名认证的用户不能体验任何游戏内容，请尽快完成实名认证。</key>
	<string>وفقاً للقوانين واللوائح، لا يمكنك الاستمرار في اللعب دون الانتهاء من التحقق من الهوية. يرجى الانتهاء منه في أسرع وقت ممكن.</string>
	<key>永久有效</key>
	<string>دائمًا صالحًا</string>
	<key>没有商品</key>
	<string>لا يوجد منتج</string>
	<key>注册</key>
	<string>التسجيل</string>
	<key>注册账号</key>
	<string>التسجيل</string>
	<key>添加附件:</key>
	<string>إضافة مرفق:</string>
	<key>游客</key>
	<string>ضيف</string>
	<key>游客账号</key>
	<string>ضيف</string>
	<key>游戏条款</key>
	<string>شروط</string>
	<key>用户信息已更新</key>
	<string>تم تحديث معلومات المستخدم</string>
	<key>用户信息更新失败，请重新操作</key>
	<string>فشل تحديث معلومات المستخدم، يرجى المحاولة مرة أخرى</string>
	<key>登录</key>
	<string>تسجيل الدخول</string>
	<key>登录参数错误</key>
	<string>خطأ في معلمة تسجيل الدخول</string>
	<key>登录取消</key>
	<string>تم إلغاء تسجيل الدخول</string>
	<key>登录失效，请重新登录</key>
	<string>فشل تسجيل الدخول، يرجى المحاولة مرة أخرى</string>
	<key>确定</key>
	<string>يتأكد</string>
	<key>确定删除该账号？</key>
	<string>هل أنت متأكد من حذف هذا الحساب؟</string>
	<key>确认</key>
	<string>يتأكد</string>
	<key>确认提交</key>
	<string>يُقدِّم</string>
	<key>立即注册</key>
	<string>التسجيل</string>
	<key>继续登录</key>
	<string>متابعة تسجيل الدخول</string>
	<key>维护公告</key>
	<string>إشعار صيانة</string>
	<key>网络请求失败，请重试或检查网络设置</key>
	<string>هناك خطأ في الإنترنت لديك، يرجى تجربة اتصال آخر</string>
	<key>联系电话:</key>
	<string>رقم الهاتف:</string>
	<key>苹果支付异常</key>
	<string>خطأ في الدفع على نظام iOS</string>
	<key>获取验证码</key>
	<string>استلم</string>
	<key>补单失败</key>
	<string>فشل في إعادة تسليم الطلب</string>
	<key>视频文件导出失败</key>
	<string>فشل تصدير الفيديو</string>
	<key>设置密码</key>
	<string>ضبط كلمة السر</string>
	<key>请全部同意并开始游戏</key>
	<string>اقبل الكل وابدأ اللعب</string>
	<key>请再次输入密码</key>
	<string>أدخل مرة أخرى</string>
	<key>请输入密码</key>
	<string>كلمة السر</string>
	<key>请输入您的密码</key>
	<string>كلمة المرور</string>
	<key>请输入您的意见反馈</key>
	<string>يرجى إدخال ملاحظاتك</string>
	<key>请输入您的手机号</key>
	<string>رقم التليفون</string>
	<key>请输入您的手机号方便联系您</key>
	<string>أدخل رقم هاتفك للتواصل</string>
	<key>请输入您的邮箱</key>
	<string>الإلكتروني</string>
	<key>请输入您的邮箱账号</key>
	<string>الإلكتروني</string>
	<key>请输入您的验证码</key>
	<string>ادخل الرمز</string>
	<key>请输入真实姓名</key>
	<string>اسمك</string>
	<key>请输入身份证号</key>
	<string>رقم الهوية الخاص بك</string>
	<key>请输入邮箱验证码</key>
	<string>ادخل الرمز</string>
	<key>超过一周的邮件自动删除</key>
	<string>سيتم حذف الرسائل الإلكترونية التي تتجاوز أسبوع تلقائيًا.</string>
	<key>输入密码与原密码不一致</key>
	<string>كلمات المرور غير متطابقة</string>
	<key>输入要搜索的地区</key>
	<string>أدخل البلد/المنطقة</string>
	<key>返回游戏</key>
	<string>خلف</string>
	<key>还有</key>
	<string>أيام</string>
	<key>还没有账号？</key>
	<string>لا يوجد حساب بعد؟</string>
	<key>退出登录</key>
	<string>مخرج</string>
	<key>邮件</key>
	<string>بريد الإلكتروني</string>
	<key>邮箱</key>
	<string>الإلكتروني</string>
	<key>邮箱格式错误，请重新输入</key>
	<string>تنسيق البريد الإلكتروني غير صالح</string>
	<key>邮箱账号注册成功</key>
	<string>حسناً!</string>
	<key>重复下单</key>
	<string>كرر الطلب</string>
	<key>重新获取</key>
	<string>مرة أخرى</string>
	<key>重置密码</key>
	<string>إعادة تعيين كلمة المرور</string>
	<key>附件:</key>
	<string>مرفق:</string>
	<key>领取失败</key>
	<string>فشل في ال</string>
	<key>领取奖励</key>
	<string>استلام المكافأة</string>
	<key>领取成功</key>
	<string>استلام ناجح </string>
	<key>领取道具</key>
	<string>امتلاك العنصر</string>
	<key>验证码登录</key>
	<string>تسجيل الدخول برمز التحقق</string>
	<key>密码登录</key>
	<string>تسجيل الدخول بكلمة المرور</string>
</dict>
</plist>
