<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6-32位，数字+字母+特殊字符</key>
	<string>6-32 อักขระ ตัวเลข+อักษรอังกฤษ+อักขระพิเศษ</string>
	<key>Apple</key>
	<string>Apple</string>
	<key>Facebook</key>
	<string>Facebook</string>
	<key>Line</key>
	<string>Line</string>
	<key>e-mail</key>
	<string>อีเมล</string>
	<key>iap异常</key>
	<string>iap ผิดปกติ</string>
	<key>一键领取</key>
	<string>รับทั้งหมด</string>
	<key>三方初始化错误，或未初始化</key>
	<string>การเริ่มต้นของช่องทางอื่นไม่ถูกต้อง หรือไม่มีการเริ่มต้น</string>
	<key>三方登录错误</key>
	<string>ล็อกอินโดยช่องทางอื่นผิดพลาด</string>
	<key>下一步</key>
	<string>ถัดไป</string>
	<key>两次密码输入不一致，请重新输入</key>
	<string>การพิมพ์รหัสผ่านทั้งสองครั้งไม่ตรงกัน โปรดพิมพ์ใหม่อีกครั้ง</string>
	<key>公告板</key>
	<string>กระดานประกาศ</string>
	<key>关闭</key>
	<string>ปิด</string>
	<key>关闭窗口</key>
	<string>ปิดหน้าต่าง</string>
	<key>切换账号</key>
	<string>สลับบัญชี</string>
	<key>初始化参数错误</key>
	<string>ค่าเริ่มต้นไม่ถูกต้อง</string>
	<key>初始化错误，还未初始化成功</key>
	<string>ค่าเริ่มต้นไม่ถูกต้อง</string>
	<key>删除失败</key>
	<string>ลบไม่สำเร็จ</string>
	<key>删除成功</key>
	<string>ลบสำเร็จ</string>
	<key>删除邮件</key>
	<string>ลบอีเมล</string>
	<key>加载失败</key>
	<string>โหลดไม่สำเร็จ</string>
	<key>反馈内容</key>
	<string>เนื้อหาความคิดเห็น</string>
	<key>参数错误</key>
	<string>ค่าการชำระเงินไม่ถูกต้อง</string>
	<key>取消</key>
	<string>ยกเลิก</string>
	<key>同意协议并开始</key>
	<string>ยอมรับและเริ่ม</string>
	<key>同意条款并开始</key>
	<string>ยินยอมข้อกำหนดและเริ่มเกม</string>
	<key>回复内容:</key>
	<string>ตอบกลับ:</string>
	<key>地区选择</key>
	<string>เลือกพื้นที่</string>
	<key>天</key>
	<string>วัน</string>
	<key>天到期</key>
	<string>วันถึงกำหนดหมด</string>
	<key>定位失败</key>
	<string>ตำแหน่งล้มเหลว</string>
	<key>实名认证</key>
	<string>ยืนยันชื่อจริง</string>
	<key>实名认证成功</key>
	<string>ยืนยันชื่อจริงสำเร็จ</string>
	<key>密码不能为空</key>
	<string>ไม่สามารถเว้นว่างรหัสผ่านได้</string>
	<key>密码正则验证错误</key>
	<string>ยืนยันรหัสผ่านปกติผิดพลาด</string>
	<key>密码输入6-32位，包含数字+字母+特殊符号</key>
	<string>6-32 อักขระ ตัวเลข+อักษรอังกฤษ+อักขระพิเศษ</string>
	<key>密码重置成功</key>
	<string>รีเซ็ตรหัสผ่านสำเร็จ</string>
	<key>尊敬的玩家，该账号已提交了注销申请，请您不要登录和使用该账号，以确保注销操作的顺利完成，如需撤销注销申请，请点击下方按钮进行撤销操作。</key>
	<string>เรียนผู้เล่น บัญชีนี้ได้ส่งคำขอยกเลิกการลงทะเบียนแล้ว ขอให้ท่านอย่าล็อกอินและใช้บัญชีนี้เพื่อให้การดำเนินการยกเลิกการลงทะเบียนสำเร็จราบรื่น   หากต้องการยกเลิกคำขอยกเลิกการลงทะเบียน โปรดคลิกปุ่มด้านล่างเพื่อยกเลิก</string>
	<key>已发送验证码</key>
	<string>ส่งรหัสยืนยันแล้ว</string>
	<key>已处理</key>
	<string>ดำเนินแล้ว</string>
	<key>已提交注销申请</key>
	<string>หมดเวลาการล็อกอิน กรุณาล็อกอินใหม่อีกครั้ง</string>
	<key>开始游戏</key>
	<string>เริ่มเกม</string>
	<key>待回复</key>
	<string>รอ</string>
	<key>忘记密码</key>
	<string>ลืมรหัส</string>
	<key>您的网络好像出了问题，请试试切换网络</key>
	<string>ดูเหมือนอินเตอร์เน็ตของท่านมีปัญหา โปรดลองสลับเครือข่าย</string>
	<key>我的反馈</key>
	<string>ความคิดเห็นของฉัน</string>
	<key>我要反馈</key>
	<string>ส่งความคิดเห็น</string>
	<key>手机号</key>
	<string>โทรศัพท์</string>
	<key>手机号格式错误，请重新输入</key>
	<string>รูปแบบของหมายเลขโทรศัพท์ไม่ถูกต้อง กรุณาพิมพ์ใหม่อีกครั้ง</string>
	<key>提交</key>
	<string>ส่ง</string>
	<key>提交失败</key>
	<string>ส่งไม่สำเร็จ</string>
	<key>提交成功</key>
	<string>ส่งสำเร็จ</string>
	<key>提示</key>
	<string>แจ้งเตือน</string>
	<key>撤销注销</key>
	<string>ยกเลิกคำขอ</string>
	<key>支付参数错误</key>
	<string>ค่าการชำระเงินไม่ถูกต้อง</string>
	<key>支付取消</key>
	<string>ยกเลิกการชำระเงิน</string>
	<key>更多登录方式</key>
	<string>วิธีล็อกอินเพิ่มเติม</string>
	<key>更多登录方式 &gt;</key>
	<string>วิธีล็อกอินเพิ่มเติม &gt;</string>
	<key>未安装应用</key>
	<string>ไม่ได้ติดตั้งแอป</string>
	<key>未知三方错误码</key>
	<string>รหัสผ่านของช่องทางอื่นที่ไม่รู้จักผิดพลาด</string>
	<key>未知错误</key>
	<string>ข้อผิดพลาดที่ไม่รู้จัก</string>
	<key>权限被拒绝或未开启</key>
	<string>มีการปฏิเสธหรือยังไม่เปิดใช้สิทธิ</string>
	<key>根据国家最新法规规定，未实名认证的用户不能体验任何游戏内容，请尽快完成实名认证。</key>
	<string>ตามข้อบังคับล่าสุดของประเทศจีน ผู้ใช้ที่ไม่ได้ยืนยันชื่อจริงจะไม่สามารถเข้าถึงเนื้อหาของเกมใด ๆ ได้ โปรดดำเนินการยืนยันชื่อจริงโดยเร็ว</string>
	<key>永久有效</key>
	<string>มีผลอยู่ตลอดไป</string>
	<key>没有商品</key>
	<string>ไม่มีสินค้า</string>
	<key>注册</key>
	<string>ลงทะบียนตอนนี้</string>
	<key>注册账号</key>
	<string>ลงทะเบียนบัญชี</string>
	<key>添加附件:</key>
	<string>เพิ่มไฟล์แนบ:</string>
	<key>游客</key>
	<string>ผู้เยี่ยมชม</string>
	<key>游客账号</key>
	<string>ผู้เยี่ยมชม</string>
	<key>游戏条款</key>
	<string>ข้อกำหนดในเกม</string>
	<key>用户信息已更新</key>
	<string>อัปเดตข้อมูลผู้ใช้สำเร็จ</string>
	<key>用户信息更新失败，请重新操作</key>
	<string>อัปเดตข้อมูลผู้ใช้ล้มเหลว โปรดลองใหม่</string>
	<key>登录</key>
	<string>เริ่มเกม</string>
	<key>登录参数错误</key>
	<string>ค่าล็อกอินไม่ถูกต้อง</string>
	<key>登录取消</key>
	<string>ยกเลิกการล็อกอิน</string>
	<key>登录失效，请重新登录</key>
	<string>หมดอายุ โปรดล็อกอินใหม่</string>
	<key>确定</key>
	<string>ยืนยัน</string>
	<key>确定删除该账号？</key>
	<string>ยืนยันว่าจะลบบัญชีนี้หรือไม่?</string>
	<key>确认</key>
	<string>ยืนยัน</string>
	<key>确认提交</key>
	<string>ยืนยันการส่ง</string>
	<key>立即注册</key>
	<string>ลงทะบียนตอนนี้</string>
	<key>继续登录</key>
	<string>ล็อกอินต่อ</string>
	<key>维护公告</key>
	<string>ประกาศการบำรุงรักษา</string>
	<key>网络请求失败，请重试或检查网络设置</key>
	<string>ดูเหมือนอินเตอร์เน็ตของท่านมีปัญหา โปรดลองสลับเครือข่าย</string>
	<key>联系电话:</key>
	<string>หมายเลขโทรศัพท์:</string>
	<key>苹果支付异常</key>
	<string>Apple Pay ผิดปกติ</string>
	<key>获取验证码</key>
	<string>รับรหัสยืนยัน</string>
	<key>补单失败</key>
	<string>เพิ่มคำสั่งซื้อล้มเหลว</string>
	<key>视频文件导出失败</key>
	<string>ส่งออกวิดีโอล้มเหลว</string>
	<key>设置密码</key>
	<string>รีเซ็ตรหัสผ่าน</string>
	<key>请全部同意并开始游戏</key>
	<string>โปรดยินยอมทั้งหมดและเริ่มเกม</string>
	<key>请再次输入密码</key>
	<string>ยืนยันรหัสผ่าน</string>
	<key>请输入密码</key>
	<string>โปรดพิมพ์รหัสผ่าน</string>
	<key>请输入您的密码</key>
	<string>โปรดพิมพ์รหัสผ่านของท่าน</string>
	<key>请输入您的意见反馈</key>
	<string>กรุณาใส่ความคิดเห็นของคุณ</string>
	<key>请输入您的手机号</key>
	<string>หมายเลขโทรศัพท์ของท่าน</string>
	<key>请输入您的手机号方便联系您</key>
	<string>ใส่หมายเลขโทรศัพท์</string>
	<key>请输入您的邮箱</key>
	<string>โปรดพิมพ์บัญชีอีเมลของท่าน</string>
	<key>请输入您的邮箱账号</key>
	<string>โปรดพิมพ์บัญชีอีเมลของท่าน</string>
	<key>请输入您的验证码</key>
	<string>รหัสยืนยันของท่าน</string>
	<key>请输入真实姓名</key>
	<string>กรุณาพิมพ์ชื่อ-สกุลจริงของท่าน</string>
	<key>请输入身份证号</key>
	<string>กรุณาพิมพ์หมายเลขบัตรประชาชน</string>
	<key>请输入邮箱验证码</key>
	<string>รหัสยืนยันอีเมลของท่าน</string>
	<key>超过一周的邮件自动删除</key>
	<string>อีเมลที่เกินหนึ่งสัปดาห์จะถูกลบอัตโนมัติ</string>
	<key>输入密码与原密码不一致</key>
	<string>การพิมพ์รหัสผ่านกับรหัสผ่านเดิมไม่ตรงกัน</string>
	<key>输入要搜索的地区</key>
	<string>โปรดพิมพ์พื้นที่ที่ต้องการค้นหา</string>
	<key>返回游戏</key>
	<string>กลับสู่หน้าเกม</string>
	<key>还有</key>
	<string>มีเหลือ</string>
	<key>还没有账号？</key>
	<string>ยังไม่มีบัญชีหรือ?</string>
	<key>退出登录</key>
	<string>ออกจากระบบ</string>
	<key>邮件</key>
	<string>อีเมล</string>
	<key>邮箱</key>
	<string>อีเมล</string>
	<key>邮箱格式错误，请重新输入</key>
	<string>รูปแบบอีเมลไม่ถูกต้อง</string>
	<key>邮箱账号注册成功</key>
	<string>ลงทะเบียนบัญชีอีเมลสำเร็จ</string>
	<key>重复下单</key>
	<string>สั่งซื้อซ้ำ</string>
	<key>重新获取</key>
	<string>รับใหม่อีกครั้ง</string>
	<key>重置密码</key>
	<string>รีเซ็ตรหัสผ่าน</string>
	<key>附件:</key>
	<string>ไฟล์แนบ:</string>
	<key>隐私协议拒绝</key>
	<string>ปฏิเสธนโยบายความเป็นส่วนตัว</string>
	<key>領取失败</key>
	<string>รับไม่ได้</string>
	<key>领取奖励</key>
	<string>รับรางวัล</string>
	<key>领取成功</key>
	<string>รับสำเร็จ</string>
	<key>领取道具</key>
	<string>รับของใช้ </string>
	<key>验证码登录</key>
	<string>เข้าสู่ระบบด้วยรหัสยืนยัน</string>
	<key>密码登录</key>
	<string>เข้าสู่ระบบด้วยรหัสผ่าน</string>
</dict>
</plist>
