<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6-32位，数字+字母+特殊字符</key>
	<string>6～32文字、数字＋英字＋特殊記号のみを含み</string>
	<key>Apple</key>
	<string>Apple</string>
	<key>Facebook</key>
	<string>Facebook</string>
	<key>Line</key>
	<string>Line</string>
	<key>e-mail</key>
	<string>メール</string>
	<key>iap异常</key>
	<string>iap支払エラー</string>
	<key>一键领取</key>
	<string>すべて受け取る</string>
	<key>三方初始化错误，或未初始化</key>
	<string>第三機関の初期化エラー、または初期化されていない</string>
	<key>三方登录错误</key>
	<string>第三機関ログインパラメータエラー</string>
	<key>下一步</key>
	<string>次へ</string>
	<key>两次密码输入不一致，请重新输入</key>
	<string>パスワードが間違っています。再入力してください</string>
	<key>公告板</key>
	<string>お知らせ板</string>
	<key>关闭</key>
	<string>閉じる</string>
	<key>关闭窗口</key>
	<string>閉める</string>
	<key>切换账号</key>
	<string>アカウント変更</string>
	<key>初始化参数错误</key>
	<string>初期化パラメータエラー</string>
	<key>初始化错误，还未初始化成功</key>
	<string>初期化パラメータエラー</string>
	<key>删除失败</key>
	<string>削除失敗</string>
	<key>删除成功</key>
	<string>削除成功 </string>
	<key>删除邮件</key>
	<string>削除する</string>
	<key>加载失败</key>
	<string>読み込み失敗</string>
	<key>反馈内容</key>
	<string>フィードバック内容</string>
	<key>参数错误</key>
	<string>パラメータエラー</string>
	<key>取消</key>
	<string>キャンセル</string>
	<key>同意协议并开始</key>
	<string>全部同意</string>
	<key>同意条款并开始</key>
	<string>全部同意</string>
	<key>回复内容:</key>
	<string>返信内容:</string>
	<key>地区选择</key>
	<string>地域を選択</string>
	<key>天</key>
	<string>日</string>
	<key>天到期</key>
	<string>日後に期限が切れます</string>
	<key>定位失败</key>
	<string>位置読み失敗</string>
	<key>实名认证</key>
	<string>実名認証</string>
	<key>实名认证成功</key>
	<string>ログイン＃ログイン＃</string>
	<key>密码不能为空</key>
	<string>パスワードを空にすることはできません</string>
	<key>密码正则验证错误</key>
	<string>パスワード定期検証エラー</string>
	<key>密码输入6-32位，包含数字+字母+特殊符号</key>
	<string>6～32文字、数字＋英字＋特殊記号のみを含み</string>
	<key>密码重置成功</key>
	<string>パスワードをリセットが完了します</string>
	<key>尊敬的玩家，该账号已提交了注销申请，请您不要登录和使用该账号，以确保注销操作的顺利完成，如需撤销注销申请，请点击下方按钮进行撤销操作。</key>
	<string>このアカウント削除申請を送信しました。削除操作をスムーズに完了するために、ログインまたはアカウントを利用しないよう、お願いします。削除申請をキャンセルする必要がある場合は、下のボタンをクリックして、操作をキャンセルしてください。</string>
	<key>已发送验证码</key>
	<string>認証コードは送信されました</string>
	<key>已处理</key>
	<string>処理済み</string>
	<key>已提交注销申请</key>
	<string>削除申請完了</string>
	<key>开始游戏</key>
	<string>ゲーム開始</string>
	<key>待回复</key>
	<string>返信待ち</string>
	<key>忘记密码</key>
	<string>パスワードを忘れた</string>
	<key>您的网络好像出了问题，请试试切换网络</key>
	<string>ネットワークに問題があるようです。ネットワークを切り替えてみてください。</string>
	<key>我的反馈</key>
	<string>私のフィードバック</string>
	<key>我要反馈</key>
	<string>フィードバックを送信</string>
	<key>手机号</key>
	<string>電話番号</string>
	<key>手机号格式错误，请重新输入</key>
	<string>電話番号が間違っています。再入力してください</string>
	<key>提交</key>
	<string>送信&lt;</string>
	<key>提交失败</key>
	<string>送信失敗</string>
	<key>提交成功</key>
	<string>送信成功</string>
	<key>提示</key>
	<string>ヒント</string>
	<key>撤销注销</key>
	<string>削除のキャンセル</string>
	<key>撤销注销成功</key>
	<string>取り消しのキャンセル</string>
	<key>支付参数错误</key>
	<string>支払パラメータエラー</string>
	<key>支付取消</key>
	<string>支払キャンセル</string>
	<key>更多登录方式</key>
	<string>他のログイン方法</string>
	<key>更多登录方式 &gt;</key>
	<string>他のログイン方法 &gt;</string>
	<key>未安装应用</key>
	<string>アプリがインストールされていません</string>
	<key>未知三方错误码</key>
	<string>不明な第三機関エラーコード</string>
	<key>未知错误</key>
	<string>不明なエラー</string>
	<key>权限被拒绝或未开启</key>
	<string>権限が拒否されたか有効になっていません</string>
	<key>根据国家最新法规规定，未实名认证的用户不能体验任何游戏内容，请尽快完成实名认证。</key>
	<string>最新の国の規制により、実名認証を行わないユーザーはゲームコンテンツを体験することができませんので、できるだけ早く実名認証を完了してください。</string>
	<key>永久有效</key>
	<string>永久に有効</string>
	<key>没有商品</key>
	<string>商品がありません</string>
	<key>注册</key>
	<string>登録</string>
	<key>注册账号</key>
	<string>アカウント登録</string>
	<key>添加附件:</key>
	<string>添付ファイル追加:</string>
	<key>游客</key>
	<string>ゲスト</string>
	<key>游客账号</key>
	<string>ゲスト</string>
	<key>游戏条款</key>
	<string>ゲームポリシー</string>
	<key>用户信息已更新</key>
	<string>ユーザー情報が更新されました</string>
	<key>用户信息更新失败，请重新操作</key>
	<string>ユーザー情報の更新に失敗しました。もう一度操作してください</string>
	<key>登录</key>
	<string>ログイン</string>
	<key>登录参数错误</key>
	<string>ログインパラメータエラー</string>
	<key>登录取消</key>
	<string>ログイン解除</string>
	<key>登录失效，请重新登录</key>
	<string>ログインが失敗です。再度ログインしてください。</string>
	<key>确定</key>
	<string>確認</string>
	<key>确定删除该账号？</key>
	<string>このアカウントを削除しますか？</string>
	<key>确认</key>
	<string>確認</string>
	<key>确认提交</key>
	<string>確認</string>
	<key>立即注册</key>
	<string>新規登録</string>
	<key>继续登录</key>
	<string>ログイン続く</string>
	<key>维护公告</key>
	<string>メンテナンスのお知らせ</string>
	<key>网络请求失败，请重试或检查网络设置</key>
	<string>ネットワークリクエストがしっぱい失敗しましたので,さいど再度,ネットワークせってー設定をかくにん確認してください </string>
	<key>联系电话:</key>
	<string>電話番号:</string>
	<key>苹果支付异常</key>
	<string>アップル支払エラー</string>
	<key>获取验证码</key>
	<string>送信</string>
	<key>补单失败</key>
	<string>注文再発送失敗</string>
	<key>视频文件导出失败</key>
	<string>ビデオ書き出し失敗</string>
	<key>设置密码</key>
	<string>パスワードを設定</string>
	<key>请全部同意并开始游戏</key>
	<string>内容をご確認の上、ご理解いただいた後にご同意ください</string>
	<key>请再次输入密码</key>
	<string>パスワード</string>
	<key>请输入密码</key>
	<string>パスワード</string>
	<key>请输入您的密码</key>
	<string>パスワード</string>
	<key>请输入您的意见反馈</key>
	<string>フィードバックを入力してください</string>
	<key>请输入您的手机号</key>
	<string>電話番号</string>
	<key>请输入您的手机号方便联系您</key>
	<string>電話番号を入力</string>
	<key>请输入您的邮箱</key>
	<string>メールアドレスを入力してくだい</string>
	<key>请输入您的邮箱账号</key>
	<string>メールアドレスを入力してくだい</string>
	<key>请输入您的验证码</key>
	<string>認証コード</string>
	<key>请输入真实姓名</key>
	<string>本名を入力してください</string>
	<key>请输入身份证号</key>
	<string>身分証明書番号を入力してください</string>
	<key>请输入邮箱验证码</key>
	<string>認証コード</string>
	<key>超过一周的邮件自动删除</key>
	<string>1週間を超えるメールは自動的に削除されます</string>
	<key>输入密码与原密码不一致</key>
	<string>パスワードは元のパスワードと一致しません</string>
	<key>输入要搜索的地区</key>
	<string>地域を選択しください</string>
	<key>返回游戏</key>
	<string>戻る</string>
	<key>还没有账号？</key>
	<string>初めてご利用ですか？</string>
	<key>退出登录</key>
	<string>ログアウト</string>
	<key>邮件</key>
	<string>メール</string>
	<key>邮箱</key>
	<string>メール</string>
	<key>邮箱格式错误，请重新输入</key>
	<string>メールアドレス間違っています</string>
	<key>邮箱账号注册成功</key>
	<string>登録が完了します</string>
	<key>重复下单</key>
	<string>複数の注文</string>
	<key>重新获取</key>
	<string>再送信</string>
	<key>重置密码</key>
	<string>パスワードをリセット</string>
	<key>附件:</key>
	<string>添付ファイル:</string>
	<key>隐私协议拒绝</key>
	<string>プライバシーポリシー拒否</string>
	<key>领取失败</key>
	<string>受け取り失敗</string>
	<key>领取奖励</key>
	<string>報酬を受け取る</string>
	<key>领取成功</key>
	<string>受け取り成功</string>
	<key>领取道具</key>
	<string>受け取る</string>
	<key>验证码登录</key>
	<string>認証コードでログイン</string>
	<key>密码登录</key>
	<string>パスワードでログイン</string>
</dict>
</plist>
