<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6-32位，数字+字母+特殊字符</key>
	<string>6-32位，數字+字母+特殊字元</string>
	<key>Apple</key>
	<string>Apple</string>
	<key>Facebook</key>
	<string>Facebook</string>
	<key>Line</key>
	<string>Line</string>
	<key>e-mail</key>
	<string>電子郵件</string>
	<key>iap异常</key>
	<string>iap 異常</string>
	<key>一键领取</key>
	<string>一鍵領取</string>
	<key>三方初始化错误，或未初始化</key>
	<string>第三方初始化錯誤，或未初始化</string>
	<key>三方登录错误</key>
	<string>第三方登入錯誤</string>
	<key>下一步</key>
	<string>下一步</string>
	<key>两次密码输入不一致，请重新输入</key>
	<string>兩次密碼輸入不一致，請重新輸入</string>
	<key>公告板</key>
	<string>公告板</string>
	<key>关闭</key>
	<string>關閉</string>
	<key>关闭窗口</key>
	<string>關閉視窗</string>
	<key>切换账号</key>
	<string>切換帳號</string>
	<key>初始化参数错误</key>
	<string>初始化參數錯誤</string>
	<key>初始化错误，还未初始化成功</key>
	<string>初始化參數錯誤</string>
	<key>删除失败</key>
	<string>刪除失敗</string>
	<key>删除成功</key>
	<string>刪除成功</string>
	<key>删除邮件</key>
	<string>刪除郵件</string>
	<key>加载失败</key>
	<string>載入失敗</string>
	<key>反馈内容</key>
	<string>反饋內容</string>
	<key>参数错误</key>
	<string>參數錯誤</string>
	<key>取消</key>
	<string>取消</string>
	<key>同意协议并开始</key>
	<string>同意條款並開始</string>
	<key>同意条款并开始</key>
	<string>同意條款並開始</string>
	<key>回复内容:</key>
	<string>回覆內容:</string>
	<key>地区选择</key>
	<string>選擇地區</string>
	<key>天</key>
	<string>天</string>
	<key>天到期</key>
	<string>天到期</string>
	<key>定位失败</key>
	<string>定位失敗</string>
	<key>实名认证</key>
	<string>實名認證</string>
	<key>实名认证成功</key>
	<string>實名認證成功</string>
	<key>密码不能为空</key>
	<string>密碼不能為空</string>
	<key>密码正则验证错误</key>
	<string>密碼正則驗證錯誤</string>
	<key>密码输入6-32位，包含数字+字母+特殊符号</key>
	<string>6-32位，數字+字母+特殊字元</string>
	<key>密码重置成功</key>
	<string>密碼重設成功</string>
	<key>尊敬的玩家，该账号已提交了注销申请，请您不要登录和使用该账号，以确保注销操作的顺利完成，如需撤销注销申请，请点击下方按钮进行撤销操作。</key>
	<string>親愛的玩家，該帳號已提交註銷申請，請勿登入和使用該帳號，以確保順利完成註銷，如需撤銷註銷申請，請點擊下方按鈕進行撤銷。</string>
	<key>已发送验证码</key>
	<string>已發送驗證碼</string>
	<key>已处理</key>
	<string>已處理</string>
	<key>已提交注销申请</key>
	<string>已提交註銷申請</string>
	<key>开始游戏</key>
	<string>開始遊戲</string>
	<key>待回复</key>
	<string>待回覆</string>
	<key>忘记密码</key>
	<string>忘記密碼</string>
	<key>您的网络好像出了问题，请试试切换网络</key>
	<string>您的網路好像出現問題，請嘗試切換網路</string>
	<key>我的反馈</key>
	<string>我的反饋</string>
	<key>我要反馈</key>
	<string>我要反饋</string>
	<key>手机号</key>
	<string>手機號碼</string>
	<key>手机号格式错误，请重新输入</key>
	<string>手機號碼格式錯誤，請重新輸入</string>
	<key>提交</key>
	<string>提交</string>
	<key>提交失败</key>
	<string>提交失敗</string>
	<key>提交成功</key>
	<string>提交成功</string>
	<key>提示</key>
	<string>提示</string>
	<key>撤销注销</key>
	<string>撤銷註銷</string>
	<key>支付参数错误</key>
	<string>付款參數錯誤</string>
	<key>支付取消</key>
	<string>取消付款</string>
	<key>更多登录方式</key>
	<string>更多登入方式</string>
	<key>更多登录方式 &gt;</key>
	<string>更多登入方式 &gt;</string>
	<key>未安装应用</key>
	<string>未安裝應用程式</string>
	<key>未知三方错误码</key>
	<string>未知第三方錯誤碼</string>
	<key>未知错误</key>
	<string>未知錯誤</string>
	<key>权限被拒绝或未开启</key>
	<string>權限被拒絕或未啟用</string>
	<key>根据国家最新法规规定，未实名认证的用户不能体验任何游戏内容，请尽快完成实名认证。</key>
	<string>根據國家最新法規規定，未實名認證的使用者不能體驗任何遊戲內容，請盡快完成實名認證。</string>
	<key>永久有效</key>
	<string>永久有效</string>
	<key>没有商品</key>
	<string>沒有商品</string>
	<key>注册</key>
	<string>註冊</string>
	<key>注册账号</key>
	<string>註冊帳號</string>
	<key>添加附件:</key>
	<string>添加附件:</string>
	<key>游客</key>
	<string>遊客</string>
	<key>游客账号</key>
	<string>遊客帳號</string>
	<key>游戏条款</key>
	<string>遊戲條款</string>
	<key>用户信息已更新</key>
	<string>使用者資訊已更新</string>
	<key>用户信息更新失败，请重新操作</key>
	<string>使用者資訊更新失敗，請重新操作</string>
	<key>登录</key>
	<string>登入</string>
	<key>登录参数错误</key>
	<string>登入參數錯誤</string>
	<key>登录取消</key>
	<string>登入取消</string>
	<key>登录失效，请重新登录</key>
	<string>登入失效，請重新登入</string>
	<key>确定</key>
	<string>確定</string>
	<key>确定删除该账号？</key>
	<string>確定刪除該帳號？</string>
	<key>确认</key>
	<string>確認</string>
	<key>确认提交</key>
	<string>確認提交</string>
	<key>立即注册</key>
	<string>立即註冊</string>
	<key>继续登录</key>
	<string>繼續登入</string>
	<key>维护公告</key>
	<string>維護公告</string>
	<key>网络请求失败，请重试或检查网络设置</key>
	<string>您的網路好像出現問題，請嘗試切換網路</string>
	<key>联系电话:</key>
	<string>聯絡電話:</string>
	<key>苹果支付异常</key>
	<string>Apple Pay 異常</string>
	<key>获取验证码</key>
	<string>獲取驗證碼</string>
	<key>补单失败</key>
	<string>補單失敗</string>
	<key>视频文件导出失败</key>
	<string>視頻文件匯出失敗</string>
	<key>设置密码</key>
	<string>設定密碼</string>
	<key>请全部同意并开始游戏</key>
	<string>請全部同意並開始遊戲</string>
	<key>请再次输入密码</key>
	<string>請再次輸入密碼</string>
	<key>请输入密码</key>
	<string>請輸入密碼</string>
	<key>请输入您的密码</key>
	<string>請輸入您的密碼</string>
	<key>请输入您的意见反馈</key>
	<string>請輸入您的意見反饋</string>
	<key>请输入您的手机号</key>
	<string>請輸入您的手機號碼</string>
	<key>请输入您的手机号方便联系您</key>
	<string>請輸入您的手機號碼以便聯繫</string>
	<key>请输入您的邮箱</key>
	<string>請輸入您的電子郵件地址</string>
	<key>请输入您的邮箱账号</key>
	<string>請輸入您的電子郵件地址</string>
	<key>请输入您的验证码</key>
	<string>請輸入您的驗證碼</string>
	<key>请输入真实姓名</key>
	<string>請輸入真實姓名</string>
	<key>请输入身份证号</key>
	<string>請輸入身份證號</string>
	<key>请输入邮箱验证码</key>
	<string>請輸入電子郵件驗證碼</string>
	<key>超过一周的邮件自动删除</key>
	<string>超過一週的郵件將會自動刪除</string>
	<key>输入密码与原密码不一致</key>
	<string>輸入密碼與原密碼不一致</string>
	<key>输入要搜索的地区</key>
	<string>請輸入搜尋地區</string>
	<key>返回游戏</key>
	<string>返回遊戲</string>
	<key>还有</key>
	<string>還有</string>
	<key>还没有账号？</key>
	<string>還沒有帳號？</string>
	<key>退出登录</key>
	<string>退出登入</string>
	<key>邮件</key>
	<string>郵件</string>
	<key>邮箱</key>
	<string>電子郵件</string>
	<key>邮箱格式错误，请重新输入</key>
	<string>電子郵件格式錯誤</string>
	<key>邮箱账号注册成功</key>
	<string>電子郵件地址註冊成功</string>
	<key>重复下单</key>
	<string>重複下單</string>
	<key>重新获取</key>
	<string>重新獲取</string>
	<key>重置密码</key>
	<string>重設密碼</string>
	<key>附件:</key>
	<string>附件:</string>
	<key>隐私协议拒绝</key>
	<string>隱私協議拒絕</string>
	<key>領取失败</key>
	<string>領取失敗</string>
	<key>领取奖励</key>
	<string>領取獎勳</string>
	<key>领取成功</key>
	<string>領取成功</string>
	<key>领取道具</key>
	<string>領取道具</string>
	<key>验证码登录</key>
	<string>驗證碼登入</string>
	<key>密码登录</key>
	<string>密碼登入</string>
</dict>
</plist>
