<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruixue.sdk.catappult">

    <queries>
        <!-- Required to work with Android 11 and above -->
        <package android:name="com.appcoins.wallet" />
    </queries>

    <uses-permission android:name="com.appcoins.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="RX_PLUGIN_PAY_CATAPPULT"
            android:value="com.ruixue.sdk.catappult.CatappultSdkWrapper" />
    </application>
</manifest>