{
  "storeFile": "/Users/apple_lee/Documents/cert/ruixue.p12",
  "storePassword": "00000018...DevEcoEncrypted...",
  "keyAlias": "ruixue",
  "keyPassword": "00000018...DevEcoEncrypted...",
  "profile": "/Users/apple_lee/Documents/cert/fish/fishdevDebug.p7b",
  "certpath": "/Users/apple_lee/Documents/cert/fish/xzdev.cer",
  "signAlg": "SHA256withECDSA"
}
